{% extends "base.html" %}

{% block content %}
<div class="login-div">
	
	<div class="box">
		
		<form class="form-signin" method="POST" action="/login">
			<h3 class="title">Login</h3>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<div class="alert alert-dismissible alert-danger">
				{{ messages[0] }}
			</div>
			{% endif %}
			{% endwith %}
			<div class="field">
				<div class="control">
					<input class="form-control" type="email" name="email" placeholder="Email" autofocus="">
				</div>
			</div>

			<div class="field">
				<div class="control">
					<input class="form-control" type="password" name="password" placeholder="Senha">
				</div>
			</div>

			<div class="checkbox mb-3">
				<label class="checkbox">
					<input type="checkbox">
					Lembrar
				</label>
			</div>

			<button class="btn btn-lg btn-primary btn-block" style="min-width: 500px;">Login</button>
		</form>
	</div>
</div>
{% endblock %}