.DateInput, .DateInput_1 {
    border-radius: 4px 0 0 4px !important;
  }
    
.DateInput_input, .DateInput_input_1 {
  Height: 38px !important;
  Width: 100% !important;
  border-radius: inherit;
}
  
.SingleDatePickerInput__withBorder {
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc !important;
}

.choosenPA {
  width:200px;
  height:40px;
  margin-left: 10px;
  vertical-Align:middle;
  font-size:22px;
  border:1px solid #dbdbdb;
}

.DivGraph {
  border: 2px solid #00000014;
  height: 100%;
  max-width: 100vh;
}